<ul class="grid-list grid-list-centered grid-list-3 isotope-grid grid-list-1-xs text-center">
{exp:channel:entries channel="aliados" limit="21" dynamic="off"}
  <li>
    <div>
    {if web_del_aliado != ""}
    {imagen_aliado limit="1"}
    	<a href="{web_del_aliado}" target="_blank"><img src="{image:url}" alt="{title}" class="img-responsive" width="80%"></a>
    {/imagen_aliado}
    {if:else}
    {imagen_aliado limit="1"}
    	<img src="{image:url}" alt="{title}" class="img-responsive" width="80%">
    {/imagen_aliado}
    {/if}
    </div>
  </li>
{/exp:channel:entries}
</ul>