				<footer class="bg-primary"> <!-- FOOTER -->
		      <div class="container-fluid">
		        <div class="row flex-space-between text-white">
		          <div class="col-sm-6 minh-140 flex-middle">
		            <nav class="mr-ch-14">
		              <a href="{site_url}images/documentos-postulacion/Bases-BecasJuntosparaTransformar_02.03.15.doc.pdf">Bases de postulación</a>
		              <span class="h3">|</span>
		              <a href="mailto:info@juntosparatransformar.com">info@juntosparatransformar.com</a>
		            </nav>
		          </div>
		          <div class="col-sm-6 minh-140 flex-middle text-right">
		            <span>Telefónica S.A. Todos los derechos reservados</span>
		          </div>
		        </div>
		      </div>
		    </footer> <!-- END:Footer -->

			</div> <!-- END:Site Content -->
    </div> <!-- END:Site Wrapper -->
    <!-- APP SCRIPTS -->
    <script src="{site_url}app/assets/js/scripts.min.js"></script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
  </body>
</html>