				<footer class="bg-primary"> <!-- FOOTER -->
		      <div class="container-fluid">
		        <div class="row flex-space-between flex-space-between-break-xs text-white text-center-xs">
		          <div class="col-sm-6 minh-140 flex-middle">
		            <nav class="mr-ch-14">
		              <a href="{site_url}images/documentos-postulacion/Bases-BecasJuntosparaTransformar_02.03.15.doc.pdf" target="_blank">Bases de postulación</a>
		              <span class="h3">|</span>
		              <a href="mailto:info@juntosparatransformarperu.com">info@juntosparatransformarperu.com</a>
		            </nav>
		          </div>
		          <div class="col-sm-6 minh-140 flex-middle text-right text-center-xs">
		            <span>Telefónica S.A. Todos los derechos reservados</span>
		          </div>
		        </div>
		      </div>
		    </footer> <!-- END:Footer -->

			</div> <!-- END:Site Content -->
    </div> <!-- END:Site Wrapper -->
    <!-- APP SCRIPTS -->
    <script src="{site_url}app/assets/js/scripts.min.js"></script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
		<!--GOOGLE-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-56335014-3', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
  </body>
</html>