<header class="header pv-14">
  <div class="left col-sm-6 col-xs-8">
    <a href="#" class="logo-header"><img src="assets/img/logo_telefonica.png" alt=""></a>
  </div>
  <div class="right col-sm-6 col-xs-4">
    <div class="row">
      <div class="col-sm-9 minh-70 flex-middle">
        <nav class="text-white text-right">
          <span class="pv-14 ml-ch-14">
            <a href="#">Inicio</a>
            <span class="text-white lead">|</span>
            <a href="#">La Beca</a>
            <span class="text-white lead">|</span>
            <a href="">Jurado</a>
          </span>
        </nav>
      </div>
      <div class="col-sm-3 text-right minh-70 flex-middle">
        <a class="ml-14 btn btn-outline btn-lg btn-gray-lighter">Postula</a>
      </div>
    </div>
  </div>
</header>