{if segment_1 == ""}
<header class="header pv-7">
{if:else}
<header class="header pv-7 header-internas">
{/if}
  <div class="left col-sm-3 col-xs-4">
    <a href="{site_url}"><img src="{site_url}app/assets/img/logo-gaston-telefonica.png" alt="{site_title}" width="110"></a>
  </div>
  <div class="right col-sm-9 col-xs-8">
    <div class="row">
      <div class="col-sm-9 minh-70 flex-middle">
        <nav class="text-white text-right">
          <span class="pv-14 ml-ch-14">
            <a href="{site_url}">Inicio</a>
            <span class="text-white lead">|</span>
            <a href="{site_url}beca">La Beca</a>
            <span class="text-white lead">|</span>
            <a href="{site_url}jurado">Jurado</a>
            <span class="text-white lead">|</span>
            {if segment_1==""}
            <a href="{site_url}#becarios">Becarios</a>
            {if:else}
            <a href="{site_url}beca/becarios">Becarios</a>
            {/if}
            {if logged_in}
            <span class="text-white lead">|</span>
            <a href="{site_url}postula/ingresa">Edita tu postulación</a>
            {/if}
          </span>
        </nav>
      </div>
      <div class="col-sm-3 text-right minh-70 flex-middle">
	      {if logged_in}
	      <a href="{path='logout'}" class="ml-14 btn btn-outline btn-lg btn-gray-lighter">Salir</a>
	      {if:else}
        <a href="{site_url}postula" class="ml-14 btn btn-outline btn-lg btn-gray-lighter">Postula</a>
        {/if}
      </div>
    </div>
  </div>
</header>