{if segment_1 == ""}
<header class="header pv-7">
{if:else}
<header class="header pv-7 header-internas">
{/if}
  <div class="container-fluid">
    <div class="left col-sm-2">
      <a href="{site_url}"><img src="{site_url}app/assets/img/logo_telefonica.png" alt="{site_title}" width="110"></a>
    </div>
    <div class="center hidden-xs col-sm-4">
      <p class="text-white custom-quotes">Becas Juntos para Transformar</p>
    </div>
    <div class="col-sm-2 text-right minh-70 flex-middle"></div>
    <div class="right hidden-xs col-sm-7">
      <div class="row">
        <div class="col-sm-12 minh-70 flex-middle">
        </div>
      </div>
    </div>
  </div>
</header>