<div class="bg-blue-light pv-14">
  <div class="container-fluid text-center lead-ch">
    <div class="custom-frame minh-350 text-white flex-middle-center">
      <h3 class="custom-quotes">Transforma tu vida<br>a través de una Beca Juntos para transformar</h3>
      <div class="pv-21">
        <a href="{site_url}postula" class="btn btn-xl btn-danger">Postula Ahora</a>
        <a href="{site_url}images/documentos/Bases_Becas_Juntos_para_Transformar_12_02_15.doc" class="icon-pdf block pv-14 unlead"> Bases de postulación</a>
      </div>
    </div>
  </div>
</div>