{embed="includes/head"}


  <div class="site-content">
    {embed="includes/header"}
    <div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
      <div class="container pt-70 pb-35">
        <div class="text-center lead-ch">
          <h1 class="light">Blog</h1>
        </div>
      </div>
      <div class="container-sm">
	      {exp:channel:entries channel="blog" limit="1"}
	        <div class="text-justify pb-42">
			      <h3 class="text-blue-light">{title}</h3>
		        <small class="text-gray-dark">{entry_date format="%j de %F, %Y"}</small>
		        <div class="pv-14">
			        {if blog_video!=''}
			        	<iframe width="720" height="380" src="https://www.youtube.com/embed/{blog_video}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			        {if:else}
				        {blog_imagen}
		          	<img src="{image:url:large}" alt="{title}" width="100%">
		          	{/blog_imagen}
	          	{/if}
		        </div>
	          <div class="text-gray-dark blog-contenido">
		          {blog_contenido}
		        </div>
		        <div class="row pt-21 pl-14">
			        <div class="col-sm-12 p-0">
				        <h4 class="pb-14 bold text-gray-dark">Autor</h4>	
			        </div>
			        {autor}
			        <div class="col-sm-1 p-0">
				        <img src="{autor:autor_imagen}" width="100%">
			        </div>
			        <div class="col-sm-11">
				        <p class="text-gray pb-0">{autor:title}</p>
				        <small class="text-gray-light">{autor:autor_posicion}</small>
			        </div>
			        {/autor}
		        </div>
	        </div>
					<div class="pv-35">
						<div id="disqus_thread"></div>
					</div>       
        {/exp:channel:entries}
      </div>      
    </div>

{embed="includes/footer"}