{embed="includes/head"}


  <div class="site-content">
    {embed="includes/header"}
    <div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
      <div class="container pv-70 ph-70-sm">
        <div class="text-center pv-42 lead-ch">
          <h1 class="light">Blog</h1>
        </div>
      </div>
      <div class="container">
	      {exp:channel:entries channel="blog" limit="10"}
        <div class="text-justify pv-21">
	        <h3>{title}</h3>
	        <small>{entry_date format="%d de %m %Y"}</small>
	        <div class="pv-35">
		        {blog_imagen}
          	<img src="{image:url:large}" alt="{title}">
          	{/blog_imagen}
	        </div>
          <p>;lsdkf;laksdf;laks</p>
          <a href="{site_url}blog/interna/{url_title}">Lee más →</a>
        </div>
		    {paginate}
					<div>
			      <p>Página {current_page} de {total_pages} páginas {pagination_links}</p>
					</div>
		    {/paginate}        
        {/exp:channel:entries}
      </div>      
    </div>
  </div>
{embed="includes/footer"}