{embed="includes/head"}

  <div class="site-content">
    {embed="includes/header"}
    {exp:channel:entries channel="testimonios_home" limit="1"}
      <div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
        <div class="container pv-70 ph-70-sm">
          <div class="text-center pv-42 lead-ch">
            <h1><em>{title}</em></h1>
            <p class="pv-21">{testimonios_intro}</p>
          </div>
        </div>
      </div>
      {embed="testimonios/testimonios"}
    {/exp:channel:entries}

  {embed="includes/footer"}