{exp:channel:entries channel="testimonios" dynamic="off" sort="asc"}
  {if count % 2 == 0}
  <div class="clearfix p-ch-0 normalize-text">
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center">
        <span class="icon-arrow-right h1 block mb-14"></span>
        <h1>{title}</h1>
        <p class="custom-quotes pv-21">{testimonio}</p>
      </div>
    </div>
    {imagen_de_testimonio}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url:medium})">
    {/imagen_de_testimonio}
    </div>
  </div>
  {if:else}
  <div class="clearfix p-ch-0 normalize-text">
    {imagen_de_testimonio}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url:medium})">
    {/imagen_de_testimonio}
    </div>
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center">
        <span class="icon-arrow-left h1 block mb-14"></span>
        <h1>{title}</h1>
        <p class="custom-quotes pv-21">{testimonio}</p>
      </div>
    </div>
  </div>
  {/if}
{/exp:channel:entries}