// Prevent layout breakage on unsupporting browsers
html {
	&.no-js {
		.flex-space-between {
			@include clearfix;
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}
} 

html,
body {
	min-height: 100%;
	height: 100%;
	background-color: $body-bg;
	// overflow-x: hidden;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

// SIZE CONTROL VARS
$size-control-placeholder: 530px;
	// Banners
$banner-height: 350px;
	// Site menu
$site-menu-width-control: 101px;
$menu-list-icons-width: 35px;
	// Header
$header-height-control: 70px;
	// Mobile header
$mobile-navbar-height: 56px;
	// Hero Unit and Videocover
$video-bg-height: 491px;

.site-wrapper,
.site-content {
	min-height: 100%;
	height: 100%;
	position: relative;
}

// HERO UNIT
.hero-unit {
	position: relative;
	height: $video-bg-height;
	@include bg-img-control;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay {
		@include position(absolute, 0 0 0 0);
		height: $video-bg-height;
	}
}

// CLICKABLE DIV
[data-href]{
	cursor: pointer;
}



// SIZE CONTROL
	// I assume that the 'md' size is the default size
	// Control the sizes of elements by using $size-control variables at the top of this file
.size {
	&.xs {
		&.hero-unit {
			height: $video-bg-height - 280;
			&.video-bg {
				height: $video-bg-height - 280;
			}
			.overlay {
				height: $video-bg-height - 280;
			}
		}
	}
	&.sm {
		&.hero-unit {
			height: $video-bg-height - 140;
			&.video-bg {
				height: $video-bg-height - 140;
			}
			.overlay {
				height: $video-bg-height - 140;
			}
		}
	}
	&.lg {
		&.hero-unit {
			height: $video-bg-height + 140;
			&.video-bg {
				height: $video-bg-height + 140;
			}
			.overlay {
				height: $video-bg-height + 140;
			}
		}
	}
	&.xl {
		&.hero-unit {
			height: $video-bg-height + 210;
			&.video-bg {
				height: $video-bg-height + 210;
			}
			.overlay {
				height: $video-bg-height + 210;
			}
		}
	}
}

// CUSTOM FRAME
.custom-frame {
	@include border-image(url(../img/frame.png) 21% repeat);
	border-width: 56px;
	position: relative;
}

// BOX SHARE 
.box-share {
	@include position(absolute, null 0 0 0);
	z-index: 30;
}

// BECA CATEGORIES LIST 
.beca-categories-list {
	> li {
		position: relative;
		min-height: 420px;
		> div {
			@include flex-middle-center;			
			@include position(absolute, 0 0 0 0);
			width: 100%;
		}
		.title {
			// z-index: 30;
		}
		.description {
			// z-index: 20;
			// background-color: $brand-primary;
			padding: $container-fluid;
			// opacity: 0;
		}
		// &:hover {
		// 	cursor: pointer;
		// 	.description {
		// 		z-index: 30;
		// 		opacity: 1;
		// 	}
		// 	.title {
		// 		z-index: 20;
		// 	}
		// }
	}
}

// CUSTOM QUOTES 
.custom-quotes {
	&:before,
	&:after {
		font-family: Flaticon;
	}
	&:before {
		content: "\e002";
		margin-right: $container-fluid / 2;
	}
	&:after {
		content: "\e006";
		margin-left: $container-fluid / 2;
	}
}

// JURADO BLOCKS 
.jurado-blocks {
	.overlay,
	.custom-frame {
		@include position(absolute, 0 0 0 0);
	}
	.overlay {
		@include transition(all 0.2s ease-in-out);
		background-color: rgba($brand-primary, 0.3);
		padding: 42px 0;
	}
	[class*="col-"] {
		&:hover {
			.overlay {
				@include transition(all 0.2s ease-in-out);
				background-color: rgba($brand-primary, 0.7);
			}
			.jurado-block {
				@include transition(all 0.2s ease-in-out);
				@include transform(translateY(-91%));
				height: auto;
			}
			.jurado-description {
				@include transition(all 0.5s ease-in-out);
				opacity: 1;
			}
		}
	}
	.jurado-block {
		@include transition(all 0.2s ease-in-out);
		@include transform(translateY(0%));
		height: 105px;
	}
	.jurado-description {
		@include transition(all 0.5s ease-in-out);
		opacity: 0;
	}
	.jurado-description {
		
	}
}







