header,
.header {
	// @include position(absolute, 0 0 null 0);
	@include position(fixed, 0 0 null 0);
	@media #{$sm-down} {
		@include position(absolute, 0 0 null 0);
	}
	z-index: 1000;
	@include normalize-text;
	@include clearfix;
	width: 100%;
	padding: 0 $container-fluid;
	min-height: $header-height-control;
	background-color: rgba($brand-primary, 0.9);
	.container-fluid {
		@include flex-space-between;
	}
	.left,
	.center,
	.right {
		min-height: $header-height-control;
		@include flex-middle;
	}
	.left {

	}
	.center {
		text-align: center;
	}
	.right {

	}
}

.logo-header img {
	width: 140px;
	height: auto;
}

nav a {
	font-size: 18px;
	font-size: rem(18px);
	// font-size: 1.4em;
}

.not-absolute {
	position: static;
}

.header-internas {
	background-color: rgba($brand-primary, 0.7);
}