// Form overrides 
.select-override {
  @include user-select(none);
  position: relative;
  text-indent: 1px;
  text-overflow: "";
  &.input-lg {
    line-height: 28px;
    // background: white url(/img/arrow-down.svg) no-repeat 98%;
  }
}

/* Custom Forms */
input[type="text"],
input[type="email"],
input[type="password"]{
	&.input-xl {
		height: 56px;
		height: rem(56px);
		font-size: 24px;
		font-size: rem(24px);
	}
}
textarea {
	font-size: 24px;
	font-size: rem(24px);
}

.form-custom {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea {
		background-color: transparent;
		@include light;
		@include placeholder {
			color: white;
		}
	}
}

$inputs-list: 
	"text",
	"email",
	"search",
	"date",
	"password";

.step-panel-form form {
	@for $i from 1 through length($inputs-list) {
		input[type="#{nth($inputs-list, $i)}"] {
			@extend .form-control;
			@include placeholder {
				color: $brand-primary !important;
			}
			color: $brand-primary !important;
		}
	}
	select {
		@extend .select-override;
		@extend .form-control;
		color: $brand-primary !important;
		&[multiple] {
			height: auto;
		}
	}
	textarea {
		@extend .form-control;
		@include placeholder {
			color: $brand-primary;
		}
		color: $brand-primary !important;
	}
	button,
	input[type="submit"] {
		@extend .btn;
		@extend .btn-default;
		@extend .btn-xl;
		@extend .btn-outline;
	}
}


// .ff_composer {
// 	h3 {
// 		&:after {
// 			content: "Campos marcados con '*' son obligatorios";
// 			display: block;
// 			font-size: 12px;
// 			margin-top: 7px;
// 		}
// 	}
// }

.textarea-wrapper {
	&:after {
		content: "Máximo 100 caracteres";
		font-size: 12px;
		display: block;
	}
}