{embed="includes/head"}

  {exp:channel:entries channel="home"}

  <div class="hero-unit minhp-100 video-bg">
    {embed="includes/header"}
    <video
      id="videocover"
      autoplay
      loop
      class="video-js videocover vjs-default-skin"
      controls="false"
      muted
      preload="auto">
        <source src="{site_url}app/assets/video/MAKING_V3_NO_AUDIO.mp4" type="video/mp4">
        <source src="{site_url}app/assets/video/MAKING_V3_NO_AUDIO.ogv" type="video/ogv">
        <source src="{site_url}app/assets/video/MAKING_V3_NO_AUDIO.webmhd.webm" type="video/webm">
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
    <div class="video-overlay flex-middle-end text-white">
      <div class="container-sm text-center mb-ch-35 hero-text-shadow on-scroll relative pt-70 pb-28-sm ph-70-sm">
        <div>
          <h1 class="mb-7 pt-49 lead">Gastón Acurio<br> &amp; Telefónica</h1>
          <h3 class="m-0 p-0">Juntos para transformar</h3>
        </div>
        <p class="lead light">{intro_home}</p>

        <div class="pv-21 flex-middle-center">
          <a id="videoTrigger-home" class="tcon tcon-vid--play tcon-vid--play-home sublime" role="button" aria-label="play video" href="#vxjQJom5Q7E" data-youtube-id="vxjQJom5Q7E">

          <span class="tcon-visuallyhidden">play video</span>
        </a>
        <video id="vxjQJom5Q7E" 
              width="768" 
              height="560"
              style="display:none" 
              data-uid="vxjQJom5Q7E" 
              data-youtube-id="vxjQJom5Q7E" 
              preload="none">
        </video>
        <script>
          $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-home');$('.tcon-vid--play-home').click(function(e){lbx.open();});sublime('videoTrigger-home').on('didClose', function(lbx) {$('.tcon-vid--play-home').removeClass('tcon-transform');});});});
        </script>
        </div>
        <div class="">
          <a href="#content" class="h1 light" rel="nofollow">&or;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="site-content" id="content">
    <div class="bg-blue-light pt-42 flex-middle-center">
      <div class="container-fluid border-bottom-white pb-14">
        <div class="custom-frame minh-700 flex-middle-center">
          <div class="container-sm text-center border-bottom-white text-white pv-70 lead-ch">
            <h3 class="mb-14">{home_titulo_becas}</h3>
            <p class="ph-14-sm mb-28 light">{home_sobre_la_beca}</p>
            <a href="{site_url}beca" class="btn btn-outline btn-xl btn-gray-lighter">Sobre las Becas</a>
            <!--<a href="{site_url}images/documentos-postulacion/Bases-BecasJuntosparaTransformar_02.03.15.doc.pdf" target="_blank" class="block pv-14 unlead icon-pdf"> Descarga las bases de la postulación</a>-->
          </div>
          <div class="container-sm text-center pv-70 text-white lead-ch">
            <img src="{site_url}images/becas/gasto4_sml.jpg" class="border-images-big mb-28" alt="">
            <!-- <p class="ph-14-sm mb-28">{home_postula_ahora}</p> -->
            <!-- <a href="{site_url}postula" class="btn btn-xl btn-danger">Postula ahora</a> -->
            <!--<a href="{site_url}images/documentos-postulacion/Bases-BecasJuntosparaTransformar_02.03.15.doc.pdf" target="_blank" class="block pv-14 unlead icon-pdf"> Descarga las bases de la postulación</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white minh-700" id="becarios">
      <div class="container text-center thin pv-42">
        <div>
          <div class="pv-42 lead-ch">
            <h3>{home_seccion_videos}</h3>
            <p class="light">{home_programa_de_becas_descripci}</p>
          </div>
          <div class="clearfix p-ch-0 normalize-text">
            <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
              <div class="text-center" data-href="{site_url}beca/becarios">
                <span class="icon-arrow-right h1 block mb-14"></span>
                <h3>Conoce a nuestros</h3>
                <h2 class="lead">Beneficiarios</h2>
              </div>
            </div>
            {imagen_conoce_a_los_becarios limit="1"}
            <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})" data-href="{site_url}beca/becarios">
            {/imagen_conoce_a_los_becarios}
            </div>
          </div>
          <div class="clearfix p-ch-0 normalize-text">
            {imagen_conoce_al_jurado limit="1"}
            <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})" data-href="{site_url}jurado"></div>
            {/imagen_conoce_al_jurado}
            <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
              <div class="text-center" data-href="{site_url}jurado">
                <span class="icon-arrow-left h1 block mb-14"></span>
                <h3>Conoce a nuestro</h3>
                <h2 class="lead">Jurado</h2>
              </div>
            </div>
          </div>
          <div class="pv-42">
            <a href="https://www.youtube.com/playlist?list=PLpXJ859_jBFMlPhiMJXvUcoEqwru3mBep" class="btn btn-outline btn-xl btn-blue">Ver más videos</a> 
            <!--<a href="{site_url}images/documentos-postulacion/Bases-BecasJuntosparaTransformar_02.03.15.doc.pdf" target="_blank" class="block pv-14 unlead icon-pdf"> Descarga las bases de la postulación</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="bg-blue-light">
      <div class="container-fluid pv-21">
        <div class="custom-frame text-white minh-140 flex-middle-center">
          <div class="container text-center pv-70 lead-ch">
	          <h3 class="custom-quotes">{home_titulo_mas_sobre_la_alianza}</h3>
            <p class="pv-42">{home_mas_sobre_la_alianza}</p>
            <a href="http://juntosparatransformarperu.com/" target="_blank" class="btn btn-outline btn-xl btn-gray-lighter unlead"> Más sobre la alianza</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white pv-70 minhp-100 flex-middle-center">
      <div class="container">
        <div class="lead-ch normalize-text text-center mb-42">
          <h3>Aliados</h3>
          <h1><em>Juntos para transformar</em></h1>
          <p class="pv-21 light">{home_aliados}</p>
        </div>
        {embed="includes/aliados"}
      </div>
    </div>

  {/exp:channel:entries}

{embed="includes/footer"}
