{embed="includes/head"}

  {exp:channel:entries channel="home"}

  <div class="hero-unit minhp-100 video-bg"> <!-- HERO-UNIT -->
    {embed="includes/header"}
    <video
      id="videocover"
      autoplay
      loop
      class="video-js videocover vjs-default-skin"
      controls="false"
      muted
      preload="none">
        <!-- <source src="assets/video/*.webm" type='video/webm' />
        <source src="assets/video/*.mp4" type='video/mp4' />
        <source src="assets/video/*.ogv" type='video/ogv' />
        <source src="assets/video/*.ogg" type='video/ogg' /> -->
        <source src="http://mazwai.com/system/posts/videos/000/000/145/original/james-look_up.mp4?1419185366" type="video/mp4">
        <source src="http://mazwai.com/system/posts/videos/000/000/145/webm/james-look_up.webm?1419185366" type="video/webm">
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
    <!-- <div class="video-placeholder" style="background: url(assets/img/project-bg-1.jpg) no-repeat center top;"></div> -->
    <div class="video-overlay flex-middle-center text-white">
      <div class="container-sm text-center mb-ch-35 hero-text-shadow on-scroll relative">
      <!-- content -->
        <div>
          <h1 class="mb-7 p-0 lead">Gastón Acurio<br> &amp; Telefónica</h1>
          <h3 class="m-0 p-0 book-italic">Juntos para transformar</h3>
        </div>
        <p class="lead light">{intro_home}</p>
        <div class="pv-21 flex-middle-center">
          <button type="button" class="tcon tcon-vid--play" role="button" aria-label="play video">
            <span class="tcon-visuallyhidden">play video</span>
          </button>
        </div>
      </div>
    </div>
  </div> <!-- END:Hero-unit -->
  <div class="site-content">
    <div class="dark-gradient pt-42 flex-middle-center">
      <!-- Borde con esquinas redondeadas -->
      <div class="container-fluid border-bottom-white pb-14">
        <div class="custom-frame minh-700 flex-middle-center">
          <div class="container-sm text-center border-bottom-white pv-70">
            <img src="{site_url}app/assets/img/photo1.jpg" class="border-images-big mb-28" alt="">
            <p class="ph-14 mb-28 text-white light texto-home">El programa de becas juntos para transformar busca generar un impacto importante en la juventud el país e impulsarlos y ayudarlos en su camino al éxito.</p>
            <a href="" class="btn btn-outline btn-xxl btn-gray-lighter">Sobre la Beca</a>
            <a href="#" class="block h3 text-center text-white pv-14">Bases de la postulación</a>
          </div>
          <div class="container-sm text-center pv-70">
            <img src="{site_url}app/assets/img/gorro.png" class="mb-28" alt="">
            <p class="ph-14 mb-28 text-white texto-home">¿Quieres transformar tu vida a través de educación de calidad?</p>
            <a href="" class="btn btn-outline btn-xxl btn-gray-lighter">Postula ahora</a>
            <a href="#" class="block h3 text-center text-white pv-14">Bases de la postulación</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-blue-light minh-700">
      <div class="container text-center text-white thin pv-42">
        <div class="ph-70">
          <div class="pv-42">
            <p class="lead light">El programa de becas juntos para transformar cumple con el propósito de ayudar a los jóvenes a alcanzar el máximo de su potencial.</p>
          </div>
          <div class="clearfix p-ch-0 normalize-text">
            <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center" data-href="#">
              <div class="text-center">
                <img class="pv-21" src="{site_url}app/assets/img/flecha.png" alt="">
                <h3>Conoce a nuestros</h3>
                <h2 class="lead">Becarios</h2>
              </div>
              <div class="box-share h3 lead-ch pv-42">
                <span class="light">Compártelo</span>
                <a href="#">F</a>
                <a href="#">T</a>
              </div>
            </div>
            <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({site_url}app/assets/img/img.png)">
              <div>
                <button type="button" class="tcon tcon-vid--play" role="button" aria-label="play video">
                  <span class="tcon-visuallyhidden">play video</span>
                </button>
              </div>
            </div>
          </div>
          <div class="clearfix p-ch-0 normalize-text">
            <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({site_url}app/assets/img/img.png)">
              <div></div>
            </div>
            <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center" data-href="#">
              <div class="text-center">
                <img src="{site_url}app/assets/img/flecha.png" class="flipped pv-21" alt="">
                <h3>Conoce a nuestro</h3>
                <h2 class="lead">Jurado</h2>
              </div>
              <div class="box-share h3 lead-ch pv-42">
                <span class="light">Compártelo</span>
                <a href="#">F</a>
                <a href="#">T</a>
              </div>
            </div>
          </div>
          <div class="pv-42">
            <a href="" class="btn btn-outline btn-xxl btn-gray-lighter">Ver más videos</a>
            <a href="#" class="h3 text-white block pv-14">Bases de postulación</a>
          </div>
        </div>
      </div>
      <div class="container-fluid pv-21">
        <div class="custom-frame minh-140 flex-middle-center">
          <div class="container-sm text-center pv-70">
            <p class="text-white lead pv-42">Juntos para transformar es una alianza de Gastón Acurio y Telefónica a 4 años que busca el cambio a través de oportunidades en la gastronomía y tecnología.</p>
            <a href="" class="btn btn-outline btn-xxl btn-gray-lighter">Más sobre la alianza</a>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-gradient pv-70 minhp-100 flex-middle-center">
      <div class="container ph-70-sm">
        <div class="lead-ch text-white normalize-text text-center mb-42">
          <h3>Aliados</h3>
          <h1><em>Juntos para transformar</em></h1>
          <p class="pv-21 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eligendi veniam inventore fugit officiis illo, sequi sed nesciunt labore, necessitatibus itaque non repellendus autem hic quis possimus et, a fuga!</p>
        </div>
        <ul class="grid-list grid-list-4 isotope-grid grid-list-1-xs text-center">
        {exp:channel:entries channel="miembros_del_jurado" limit="21"}
          <li>
            <div>
            {imagen_miembro_del_jurado limit="1"}
              <img src="{image:url:small}" alt="" style="width: 112px; height: auto; " class="img-circle">
            {/imagen_miembro_del_jurado}
            </div>
            <div>
              <h3 class="text-white">Gastón Acurio</h3>
              <span class="text-blue-light h4">Chef</span>
            </div>
          </li>
        {/exp:channel:entries}
        </ul>
      </div>
    </div>
    <footer class="bg-blue-darker"> <!-- FOOTER -->
      <div class="container">
        <div class="row flex-space-between text-white">
          <div class="col-sm-6 minh-140 flex-middle">
            <nav class="mr-ch-14">
              <a href="#">Bases de postulación</a>
              <span class="h3">|</span>
              <a href="#">Contacto</a>
            </nav>
          </div>
          <div class="col-sm-6 minh-140 flex-middle text-right">
            <span>Telefónica S.A. Todos los derechos reservados</span>
          </div>
        </div>
      </div>
    </footer> <!-- END:Footer -->
  </div>

  {/exp:channel:entries}

{embed="includes/footer"}