{embed="includes/head"}

  {exp:channel:entries channel="jurado"}
  <div class="site-content">
    {embed="includes/header"}
		<div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
		  <div class="container-sm ph-70-sm pv-70">
		    <div class="text-center pv-42 lead-ch">
		      <h1 class="light">El Jurado</h1>
		      <p class="pv-21">En este párrafo te contamos un poco más sobre nuestra propuesta de educción en colaboración con Gastón Acurio.</p>
		    </div>
		  </div>
		</div>
		{if nombre_del_juez_1}
			<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
			  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
			  	{imagen_del_juez_1 limit="1"}
			    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
			    {/imagen_del_juez_1}
			    <h3>{nombre_del_juez_1}</h3>
			    <span class="light">{tagline_del_juez_1}</span>
			    <nav>
			    	{if link_facebook_juez_1}
			      <a href="{link_facebook_juez_1}" class="icon-facebook"></a>
			      {/if}
			      {if link_twitter_juez_1}
			      <a href="{link_twitter_juez_1}" class="icon-twitter"></a>
			     	{/if}
			    </nav>
			  </div>
			  <div class="container text-white">
			    <p class="custom-quote pv-21 light">{cita_textual_juez_1}</p>
			  </div>
			  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
			    <p>{descripcion_del_juez_1}</p>
			  </div>
			</div>
		{/if}
		{if nombre_del_juez_2}
			<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
			  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
			  	{imagen_del_juez_2 limit="1"}
			    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
			    {/imagen_del_juez_2}
			    <h3>{nombre_del_juez_2}</h3>
			    <span class="light">{tagline_del_juez_2}</span>
			    <nav>
			    	{if link_facebook_juez_2}
			      <a href="{link_facebook_juez_2}" class="icon-facebook"></a>
			      {/if}
			      {if link_twitter_juez_2}
			      <a href="{link_twitter_juez_2}" class="icon-twitter"></a>
			     	{/if}
			    </nav>
			  </div>
			  <div class="container text-white">
			    <p class="custom-quote pv-21 light">{cita_textual_juez_2}</p>
			  </div>
			  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
			    <p>{descripcion_del_juez_2}</p>
			  </div>
			</div>
		{/if}
		{if nombre_del_juez_3}
			<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
			  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
			  	{imagen_del_juez_3 limit="1"}
			    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
			    {/imagen_del_juez_3}
			    <h3>{nombre_del_juez_3}</h3>
			    <span class="light">{tagline_del_juez_3}</span>
			    <nav>
			    	{if link_facebook_juez_3}
			      <a href="{link_facebook_juez_3}" class="icon-facebook"></a>
			      {/if}
			      {if link_twitter_juez_3}
			      <a href="{link_twitter_juez_3}" class="icon-twitter"></a>
			     	{/if}
			    </nav>
			  </div>
			  <div class="container text-white">
			    <p class="custom-quote pv-21 light">{cita_textual_juez_3}</p>
			  </div>
			  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
			    <p>{descripcion_del_juez_3}</p>
			  </div>
			</div>
		{/if}
		{if nombre_del_juez_4}
			<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
			  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
			  	{imagen_del_juez_4 limit="1"}
			    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
			    {/imagen_del_juez_4}
			    <h3>{nombre_del_juez_4}</h3>
			    <span class="light">{tagline_del_juez_4}</span>
			    <nav>
			    	{if link_facebook_juez_4}
			      <a href="{link_facebook_juez_4}" class="icon-facebook"></a>
			      {/if}
			      {if link_twitter_juez_4}
			      <a href="{link_twitter_juez_4}" class="icon-twitter"></a>
			     	{/if}
			    </nav>
			  </div>
			  <div class="container text-white">
			    <p class="custom-quote pv-21 light">{cita_textual_juez_4}</p>
			  </div>
			  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
			    <p>{descripcion_del_juez_4}</p>
			  </div>
			</div>
		{/if}
		{if nombre_del_juez_5}
			<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
			  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
			  	{imagen_del_juez_5 limit="1"}
			    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
			    {/imagen_del_juez_5}
			    <h3>{nombre_del_juez_5}</h3>
			    <span class="light">{tagline_del_juez_5}</span>
			    <nav>
			    	{if link_facebook_juez_5}
			      <a href="{link_facebook_juez_5}" class="icon-facebook"></a>
			      {/if}
			      {if link_twitter_juez_5}
			      <a href="{link_twitter_juez_5}" class="icon-twitter"></a>
			     	{/if}
			    </nav>
			  </div>
			  <div class="container text-white">
			    <p class="custom-quote pv-21 light">{cita_textual_juez_5}</p>
			  </div>
			  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
			    <p>{descripcion_del_juez_5}</p>
			  </div>
			</div>
		{/if}
		{if nombre_del_juez_6}
			<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
			  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
			  	{imagen_del_juez_6 limit="1"}
			    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
			    {/imagen_del_juez_6}
			    <h3>{nombre_del_juez_6}</h3>
			    <span class="light">{tagline_del_juez_6}</span>
			    <nav>
			    	{if link_facebook_juez_6}
			      <a href="{link_facebook_juez_6}" class="icon-facebook"></a>
			      {/if}
			      {if link_twitter_juez_6}
			      <a href="{link_twitter_juez_6}" class="icon-twitter"></a>
			     	{/if}
			    </nav>
			  </div>
			  <div class="container text-white">
			    <p class="custom-quote pv-21 light">{cita_textual_juez_6}</p>
			  </div>
			  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
			    <p>{descripcion_del_juez_6}</p>
			  </div>
			</div>
		{/if}
		{embed="includes/transforma-tu-vida"}
  {/exp:channel:entries}

{embed="includes/footer"}