{embed="includes/head"}

  {exp:channel:entries channel="jurado"}
  <div class="site-content">
    {embed="includes/header"}
		<div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
		  <div class="container-sm ph-70-sm pv-70">
		    <div class="text-center pv-42 lead-ch">
		      <h1 class="light">El Jurado</h1>
		      <p class="pv-21">En este párrafo te contamos un poco más sobre nuestra propuesta de educción en colaboración con Gastón Acurio.</p>
		    </div>
		  </div>
		</div>
		<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
		  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
		    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url(assets/img/user.jpg)"></div>
		    <h3>Nombre y apellido del jurado 1</h3>
		    <span class="light">Lorem ipsum dolor sit amet</span>
		    <nav>
		      <a href="#">F</a>
		      <a href="#">T</a>
		    </nav>
		  </div>
		  <div class="container text-white">
		    <p class="custom-quote pv-21 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus maiores incidunt doloribus reprehenderit similique, praesentium delectus.</p>
		  </div>
		  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequatur, molestias reprehenderit dolores obcaecati est possimus eveniet magnam, nulla dolor velit dolorum tempore, voluptates pariatur? Iste in nemo tenetur dolorum!</p>
		  </div>
		</div>
		{embed="includes/transforma-tu-vida"}
  {/exp:channel:entries}

{embed="includes/footer"}