{embed="includes/head"}

  {exp:channel:entries channel="jurado"}
  <div class="site-content">
    {embed="includes/header"}
		<div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
		  <div class="container-sm ph-70-sm pv-70">
		    <div class="text-center pv-42 lead-ch">
		      <h1 class="light">{title}</h1>
		      <p class="pv-21">{introduccion_jurado}</p>
		    </div>
		  </div>
		</div>
		{embed="jurado/miembros-del-jurado-block"}
		{embed="includes/transforma-tu-vida"}
  {/exp:channel:entries}

{embed="includes/footer"}