<ul class="grid-list grid-list-4 isotope-grid grid-list-1-xs text-center">
{exp:channel:entries channel="miembros_del_jurado" limit="21" dynamic="off"}
  <li>
    <div>
    {imagen_miembro_del_jurado limit="1"}
      <img src="{image:url}" alt="" style="width: 112px; height: auto; " class="img-circle" alt="{nombre_del_juez}">
    {/imagen_miembro_del_jurado}
    </div>
    <div>
      <h3 class="text-white">{nombre_del_juez}</h3>
      <span class="text-blue-light h4">{titulo_del_juez}</span>
    </div>
  </li>
{/exp:channel:entries}
</ul>