{exp:channel:entries channel="miembros_del_jurado" limit="10" dynamic="off"}
	<div class="pv-70 minhp-50 flex-middle-center bg-blue text-center lead-ch">
	  <div class="container-sm pv-21 border-bottom-blue-light border-bottom-lg">
	  	{imagen_miembro_del_jurado limit="1"}
	    <div class="img-circle bg-img-block inline-block" style="width: 140px; height: 140px; background-image: url({image:url:small})"></div>
	    {/imagen_miembro_del_jurado}
	    <h3>{nombre_del_juez}</h3>
	    <span class="light">{titulo_del_juez}</span>
	    <nav>
	    	{if link_facebook_del_juez}
	      <a href="{link_facebook_del_juez}" class="icon-facebook"></a>
	      {/if}
	      {if link_twitter_del_juez}
	      <a href="{link_twitter_del_juez}" class="icon-twitter"></a>
	     	{/if}
	    </nav>
	  </div>
	  <div class="container text-white">
	    <p class="custom-quote pv-21 light">{cita_textual_del_juez}</p>
	  </div>
	  <div class="container-sm border-top-blue-light border-top-lg pv-21 lead-ch">
	    <p>{descripcion_del_juez}</p>
	  </div>
	</div>
{/exp:channel:entries}