<div class="pv-70 normalize-text text-center text-blue-light">
  <div class="container">
    <h3 class="lead"><em>Categoría Cocina</em></h3>
  </div>
</div>
	<div class="minhp-70 clearfix jurado-blocks">
{exp:channel:entries channel="miembros_del_jurado" category="4" limit="10" dynamic="off"}
		{if absolute_results == 1}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-12 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 2}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-6 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 3}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-4 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
	  {if:elseif absolute_results == 4}
	  	{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-3 relative bg-img-block-top bg-img-block-center-x minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{/if}
{/exp:channel:entries}
	</div>

<div class="pv-70 normalize-text text-center text-blue-light">
  <div class="container">
    <h3 class="lead"><em>Categoría Pastelería</em></h3>
  </div>
</div>
	<div class="minhp-70 clearfix jurado-blocks">
{exp:channel:entries channel="miembros_del_jurado" category="5" limit="10" dynamic="off"}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-3 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>


		<!--{if absolute_results == 1}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-12 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 2}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-6 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:else}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-4 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{/if}-->
{/exp:channel:entries}
	</div>

<div class="pv-70 normalize-text text-center text-blue-light">
  <div class="container">
    <h3 class="lead"><em>Categoría Panadería</em></h3>
  </div>
</div>
	<div class="minhp-70 clearfix jurado-blocks">
{exp:channel:entries channel="miembros_del_jurado" category="6" limit="10" dynamic="off"}
		{if absolute_results == 1}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-12 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 2}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-6 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:else}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-4 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{/if}
{/exp:channel:entries}
	</div>

<div class="pv-70 normalize-text text-center text-blue-light">
  <div class="container">
    <h3 class="lead"><em>Categoría Bar</em></h3>
  </div>
</div>
	<div class="minhp-70 clearfix jurado-blocks">
{exp:channel:entries channel="miembros_del_jurado" category="7" limit="10" dynamic="off"}
		{if absolute_results == 1}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-12 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 2}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-6 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:else}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-4 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{/if}
{/exp:channel:entries}
	</div>

<div class="pv-70 normalize-text text-center text-blue-light">
  <div class="container">
    <h3 class="lead"><em>Categoría Chocolatería</em></h3>
  </div>
</div>
	<div class="minhp-70 clearfix jurado-blocks">
{exp:channel:entries channel="miembros_del_jurado" category="8" limit="10" dynamic="off"}
		{if absolute_results == 1}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-12 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 2}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-6 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 3}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-4 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{/if}
{/exp:channel:entries}
	</div>

<div class="pv-70 normalize-text text-center text-blue-light">
  <div class="container">
    <h3 class="lead"><em>Categoría Sommelier</em></h3>
  </div>
</div>
	<div class="minhp-70 clearfix jurado-blocks">
{exp:channel:entries channel="miembros_del_jurado" category="9" limit="10" dynamic="off"}
		{if absolute_results == 1}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-12 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 2}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-6 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{if:elseif absolute_results == 3}
			{imagen_miembro_del_jurado limit="1"}
			<div class="col-sm-4 relative bg-img-block-top minh-630" style="background-image: url({image:url:large})">
			{/imagen_miembro_del_jurado}
	      <div class="overlay flex-middle-end text-center text-white">
	        <div class="lead-ch jurado-block">
	          <div class="jurado-title">
		          <h3 style="font-size: 22px !important;">{title}</h3>
		         </div>
		         <div class="jurado-description text-left ph-21">
			          <h4 class="light pv-7">{titulo_del_juez}</h4>
		         		<p class="unlead">{resena_del_juez}</p>
		         </div>
	        </div>
	      </div>
	    </div>
		{/if}
{/exp:channel:entries}
	</div>