<h3 class="text-blue-light pv-21"><em>Categoría Cocina</em></h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="1" dynamic="off"}
  {title}
{/exp:channel:entries}
<h3 class="text-blue-light pv-21"><em>Categoría Servicios</em></h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="2" dynamic="off"}
  {title}
{/exp:channel:entries}
<h3 class="text-blue-light pv-21"><em>Categoría Qaray</em></h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="3" dynamic="off"}
  {title}
{/exp:channel:entries}