<h3 class="text-blue-light pv-21 mt-42"><em>Categoría Cocina</em></h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="1" dynamic="off" sort="asc" orderby="title"}
  {if count % 2 == 0}
  <div class="clearfix p-ch-0">
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-right h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
      <!--<div>
        <a id="videoTrigger-{url_title}" class="tcon tcon-vid--play tcon-vid--play-{url_title} sublime" role="button" aria-label="play video" href="#{youtube_id}" data-youtube-id="{youtube_id}">
          <span class="tcon-visuallyhidden">play video</span>
        </a>
      </div>
      <video id="{youtube_id}" 
            width="640" 
            height="360" 
            style="display:none" 
            data-uid="{youtube_id}" 
            data-youtube-id="{youtube_id}" 
            preload="none">
      </video> -->
      <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
  </div>
  {if:else}
  <div class="clearfix p-ch-0">
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
      <!--<div>
        <a id="videoTrigger-{url_title}" class="tcon tcon-vid--play tcon-vid--play-{url_title} sublime" role="button" aria-label="play video" href="#{youtube_id}" data-youtube-id="{youtube_id}">
          <span class="tcon-visuallyhidden">play video</span>
        </a>
      </div>
      <video id="{youtube_id}" 
            width="640" 
            height="360" 
            style="display:none" 
            data-uid="{youtube_id}" 
            data-youtube-id="{youtube_id}" 
            preload="none">
      </video>-->
      <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-left h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
  </div>
  {/if}
{/exp:channel:entries}
<h3 class="text-blue-light pv-21 mt-42"> <em>Categoría Panadería</em> </h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="16" dynamic="off" sort="asc" orderby="title"}
  {if count % 2 == 0}
  <div class="cler">
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-right h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
    <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
  </div>
  {if:else}
  <div class="clearfix p-ch-0">
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
      <!--<div>
        <a id="videoTrigger-{url_title}" class="tcon tcon-vid--play tcon-vid--play-{url_title} sublime" role="button" aria-label="play video" href="#{youtube_id}" data-youtube-id="{youtube_id}">
          <span class="tcon-visuallyhidden">play video</span>
        </a>
      </div>
      <video id="{youtube_id}" 
            width="640" 
            height="360" 
            style="display:none" 
            data-uid="{youtube_id}" 
            data-youtube-id="{youtube_id}" 
            preload="none">
      </video> -->
      <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-left h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
  </div>
  {/if}
{/exp:channel:entries}
<h3 class="text-blue-light pv-21 mt-42"> <em>Categoría Pastelería</em> </h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="15" dynamic="off" sort="asc" orderby="title"}
  {if count % 2 == 0}
  <div class="cler">
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-right h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
    <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
  </div>
  {if:else}
  <div class="clearfix p-ch-0">
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
      <!--<div>
        <a id="videoTrigger-{url_title}" class="tcon tcon-vid--play tcon-vid--play-{url_title} sublime" role="button" aria-label="play video" href="#{youtube_id}" data-youtube-id="{youtube_id}">
          <span class="tcon-visuallyhidden">play video</span>
        </a>
      </div>
      <video id="{youtube_id}" 
            width="640" 
            height="360" 
            style="display:none" 
            data-uid="{youtube_id}" 
            data-youtube-id="{youtube_id}" 
            preload="none">
      </video> -->
      <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-left h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
  </div>
  {/if}
{/exp:channel:entries}

<h3 class="text-blue-light pv-21 mt-42"><em>Categoría Servicios</em></h3>
{exp:channel:entries channel="perfil_de_los_becarios" category="2" dynamic="off" sort="asc" orderby="title"}
  {if count % 2 == 0}
  <div class="clearfix p-ch-0">
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-right h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
      <!--<div>
        <a id="videoTrigger-{url_title}" class="tcon tcon-vid--play tcon-vid--play-{url_title} sublime" role="button" aria-label="play video" href="#{youtube_id}" data-youtube-id="{youtube_id}">
          <span class="tcon-visuallyhidden">play video</span>
        </a>
      </div>
      <video id="{youtube_id}" 
            width="640" 
            height="360" 
            style="display:none" 
            data-uid="{youtube_id}" 
            data-youtube-id="{youtube_id}" 
            preload="none">
      </video> -->
      <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
  </div>
  {if:else}
  <div class="clearfix p-ch-0">
    {imagen_del_becario}
    <div class="col-sm-6 minh-420 bg-img-block flex-middle-center text-center" style="background-image: url({image:url})">
    {/imagen_del_becario}
      <!--<div>
        <a id="videoTrigger-{url_title}" class="tcon tcon-vid--play tcon-vid--play-{url_title} sublime" role="button" aria-label="play video" href="#{youtube_id}" data-youtube-id="{youtube_id}">
          <span class="tcon-visuallyhidden">play video</span>
        </a>
      </div>
      <video id="{youtube_id}" 
            width="640" 
            height="360" 
            style="display:none" 
            data-uid="{youtube_id}" 
            data-youtube-id="{youtube_id}" 
            preload="none">
      </video> -->
      <script>
        $(document).ready(function(){sublime.ready(function(){var lbx = sublime.lightbox('videoTrigger-{url_title}');$('.tcon-vid--play-{url_title}').click(function(e){lbx.open();});sublime('videoTrigger-{url_title}').on('didClose', function(lbx) {$('.tcon-vid--play-{url_title}').removeClass('tcon-transform');});});});
      </script>
    </div>
    <div class="col-sm-6 relative minh-420 bg-blue flex-middle-center text-white">
      <div class="text-center p-21">
        <span class="icon-arrow-left h1 block mb-14 hidden-xs"></span>
        <h1>{title}</h1>
        <p>{descripcion_del_becario}</p>
      </div>
    </div>
  </div>
  {/if}
{/exp:channel:entries}