{embed="includes/head"}

  {exp:channel:entries channel="becarios" limit="1" dynamic="off"}
  <div class="site-content">
    {embed="includes/header"}
    <div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
      <div class="container pv-70 ph-70-sm">
        <div class="text-center pv-42 lead-ch">
          <h1 class="light">{title}</h1>
          <p class="pv-21">{becarios_intro}</p>
        </div>
        <div class="text-center">
          <h3 class="text-blue-light pv-21"><em>Categoría Cocina</em></h3>
          {exp:channel:entries channel="perfil_de_los_becarios" category="1"}
            {nombre_del_becario}
          {/exp:channel:entries}
          <h3 class="text-blue-light pv-21"><em>Categoría Servicios</em></h3>
          {exp:channel:entries channel="perfil_de_los_becarios" category="2"}
            {nombre_del_becario}
          {/exp:channel:entries}
          <h3 class="text-blue-light pv-21"><em>Categoría Qaray</em></h3>
          {exp:channel:entries channel="perfil_de_los_becarios" category="3"}
            {nombre_del_becario}
          {/exp:channel:entries}
        </div>
      </div>
    </div>
    {embed="includes/transforma-tu-vida"}
  {/exp:channel:entries}

{embed="includes/footer"}