<ul class="grid-list grid-list-centered grid-list-3 grid-list-1-xs lead-ch beca-categories-list mb-ch-21">
	{exp:channel:entries dynamic="off" channel="categorias_de_la_beca" limit="10" sort="asc"}
		<li class="bg-primary-op">
		  <div class="description">
		    <h3 class="h3 light pv-21">{title}</h3>
		    <h4 class="unlead light">{descripcion_de_la_categoria}</h4>
		    <div class="given-by">
		    	<span class="unlead">Beca entregada por:<br><em class="unlead">{beca_entregada_por}</em></span>
		    </div>
		  </div>
		</li>
	{/exp:channel:entries}
</ul>