{embed="includes/head"}

  {exp:channel:entries channel="home" dynamic="off"}

    <div class="bg-blue-light minh-420  normalize-text flex-middle-center">
          <div class="container ph-70 pt-70">
            <div class="text-center text-white thin">
              <h3 class="">Sobre la beca</h3>
              <h2>"Juntos para transformar"</h2>
              <p>En este párrafo te contamos un poco más sobre nuestra propuesta de educción en colaboración con Gastón Acurio.</p>
              <p>Aquí te hablamos un poco más sobre la idea que tenemos para una educación de calidad.</p>
            </div>
          <div class="container-fluid pb-14 ph-70 pt-35 text-white">
              <div class="col-sm-4 bg-blue-dark p-14 border-right-blue-darker papa-contenedor">
                <div class="custom-frame flex-middle-center minh-350 contenedor-categoria">
                  <span>Categoría 1</span>
                </div>
                <div class="descripcion-categoria flex-middle-center text-center">
                  <span>Aquí va la descripción de la categoría</span>
                </div>
              </div>
              <div class="col-sm-4 bg-blue-dark p-14 border-right-blue-darker papa-contenedor">
                <div class="custom-frame flex-middle-center minh-350">
                  <span>Categoría 1</span>
                </div>
                <div class="descripcion-categoria flex-middle-center text-center">
                  <span>Aquí va la descripción de la categoría</span>
                </div>
              </div>
              <div class="col-sm-4 bg-blue-dark p-14 papa-contenedor">
                <div class="custom-frame flex-middle-center minh-350">
                  <span>Categoría 1</span>
                </div>
                <div class="descripcion-categoria flex-middle-center text-center">
                  <span>Aquí va la descripción de la categoría</span>
                </div>
              </div>
            </div>
              <div class="constainer-sm ph-70 text-white flex-middle-center">
                <h3 class="">Sobre la beca</h3>
                <h2>"Juntos para transformar"</h2>
              </div>
            </div>
          </div>
          <div class="plain-section-light minh-210 normalize-text flex-middle-center">
            <h3>Beneficio 1</h3>
            <p>Aquí contamos sobre el lindo primer beneficio de este programa.</p>
          </div>
          <div class="plain-section minh-210 text-white flex-middle-center">
            <div class="dos-ultimos-beneficios container-sm">
              <h3>Beneficio 3</h3>
              <p>Aquí contamos</p>
              <h3>Beneficio 3</h3>
              <p>Aquí contamos</p>
            </div>
            <div class="container flex-middle-center">
              <h2>Cronograma</h2>  
            </div>
            <div class="container-sm cronograma gbo minh-210 text-center bg-blue-darker">
              <div class="clearfix">
                <div class="col-sm-3">23 feb</div>
                <div class="col-sm-3">a</div>
                <div class="col-sm-6">a</div>
              </div>
              <div class="clearfix">
                <div class="col-sm-3">24 feb</div>
                <div class="col-sm-3">a</div>
                <div class="col-sm-6">a</div>
              </div>
              <div class="clearfix">
                <div class="col-sm-3">30 feb</div>
                <div class="col-sm-3">a</div>
                <div class="col-sm-6">a</div>
              </div>
            </div>
          </div>
          <div class="plain-section p-14">
            <div class="custom-frame flex-middle-center minh-350">
              <span>Categoría 1</span>
            </div>
          </div>
        </div>

  {/exp:channel:entries}

{embed="includes/footer"}