{embed="includes/head"}

  {exp:channel:entries channel="beca"}
  <div class="site-content">
    {embed="includes/header"}
    <div class="bg-blue-light minh-420 pv-70 normalize-text flex-middle-center">
      <div class="container-sm ph-56 pv-70">
        <div class="text-center text-white pv-42 lead-ch">
          <h3 class="light">Sobre la beca</h3>
          <h1><em>"Juntos para transformar"</em></h1>
          <p class="pv-21">En este párrafo te contamos un poco más sobre nuestra propuesta de educción en colaboración con Gastón Acurio.</p>
        </div>
      </div>
    </div>
    <div style="background-image: url(assets/img/categorias-img.png)" class="bg-img-block minhp-100 pv-70 normalize-text flex-middle-center">
      <div class="container text-white text-center">
        <h3 class="lead h1 pv-42">Categorías</h3>
        <ul class="grid-list grid-list-centered grid-list-3 grid-list-1-xs lead-ch beca-categories-list">
          <li class="bg-blue-op">
            <div class="custom-frame bg-blue-op title">
              <h3 class="h1 light">Categoría <br>1</h3>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit facilis voluptatem quos libero! Facere est distinctio facilis iusto accusamus magnam saepe temporibus placeat, vel esse, impedit, ipsam nam neque. Incidunt.</p>
            </div>
          </li>
          <li class="bg-blue-op">
            <div class="custom-frame bg-blue-op title">
              <h3 class="h1 light">Categoría <br>1</h3>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit facilis voluptatem quos libero! Facere est distinctio facilis iusto accusamus magnam saepe temporibus placeat, vel esse, impedit, ipsam nam neque. Incidunt.</p>
            </div>
          </li>
          <li class="bg-blue-op">
            <div class="custom-frame bg-blue-op title">
              <h3 class="h1 light">Categoría <br>1</h3>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit facilis voluptatem quos libero! Facere est distinctio facilis iusto accusamus magnam saepe temporibus placeat, vel esse, impedit, ipsam nam neque. Incidunt.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="lead-ch pv-ch-70 text-center">
      <div class="bg-blue-light bg-hover-warning text-white">
        <h3 class="light">Beneficio para</h3>
        <h3 class="h1"><em>Los ganadores</em></h3>
      </div>
      <div class="bg-hover-warning text-blue-dark text-hover-white light">
        <div class="container ph-70">
          <h3>Beneficio 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus voluptatem nobis impedit, nisi ullam, cupiditate ipsa qui fugit reiciendis perspiciatis vitae eveniet hic amet saepe voluptates soluta esse quasi dolore!</p>
        </div>
      </div>
      <div class="bg-hover-warning text-blue-dark text-hover-white light">
        <div class="container ph-70">
          <h3>Beneficio 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi fugit accusamus minus architecto repellat porro eaque harum rerum! Commodi modi, perferendis nemo quo eligendi quisquam velit rem labore saepe! Porro.</p>
        </div>
        </div>
      <div class="bg-hover-warning text-blue-dark text-hover-white light">
        <div class="container ph-70">
          <h3>Beneficio 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus blanditiis praesentium non aperiam quia, repellat, ratione magnam eveniet placeat voluptatibus molestiae eius. Pariatur beatae distinctio quis excepturi, laboriosam qui quod.</p>
        </div>
      </div>
    </div>
    <div style="background-image: url(assets/img/cronograma-img.png)" class="bg-img-block minhp-100 pv-70 flex-middle-center">
      <div class="container text-white text-center normalize-text">
        <h3 class="lead h1 pv-42">Cronograma</h3>
        <div class="bg-blue-darker-op p-21 light lead-ch gbo">
          <div class="clearfix">
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">23 Feb</span>
            </div>
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">7 pm</span>
            </div>
            <div class="col-sm-6 minh-140 flex-middle">
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">23 Feb</span>
            </div>
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">7 pm</span>
            </div>
            <div class="col-sm-6 minh-140 flex-middle">
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">23 Feb</span>
            </div>
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">7 pm</span>
            </div>
            <div class="col-sm-6 minh-140 flex-middle">
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">23 Feb</span>
            </div>
            <div class="col-sm-3 minh-140 flex-middle">
              <span class="h3">7 pm</span>
            </div>
            <div class="col-sm-6 minh-140 flex-middle">
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary pv-14">
      <div class="container-fluid text-center lead-ch">
        <div class="custom-frame minh-350">
          <p class="custom-quotes">Transforma tu vida<br>a través de una beca de calidad</p>
          <div class="pv-21">
            <a href="#" class="btn h1 btn-xxl btn-gray-lighter btn-outline">Postula Ahora</a>
            <a href="#" class="icon-pdf block pv-14 text-white">Bases de postulación</a>
          </div>
        </div>
      </div>
    </div>
  {/exp:channel:entries}

{embed="includes/footer"}