{embed="includes/head"}

  {exp:channel:entries channel="beca"}
  <div class="site-content">
    {embed="includes/header"}
    <div class="bg-white minh-420 pv-70 normalize-text flex-middle-center">
      <div class="container pv-70 ph-70-sm">
        <div class="text-center pv-42 lead-ch">
          <h3 class="light">{title}</h3>
          <h1><em>{nombre_de_la_beca}</em></h1>
          <p class="pv-21">{becas_intro}</p>
        </div>
      </div>
    </div>
    <div style="background-image: url({site_url}app/assets/img/categorias-img.png)" class="bg-img-block minhp-100 pv-70 normalize-text flex-middle-center">
      <div class="container text-center text-white">
        <h3 class="lead h1 pv-42">Categorías</h3>
        {embed="beca/categorias-de-la-beca"}
      </div>
    </div>
    <div class="lead-ch pv-ch-70 text-center">
      <div class="bg-blue-light text-white">
        <h3 class="light">Beneficio para</h3>
        <h3 class="h1"><em>Los ganadores</em></h3>
      </div>
      {embed="beca/beneficios-para-los-ganadores"}
    </div>
    <div style="background-image: url({site_url}app/assets/img/cronograma-img.png)" class="bg-img-block minhp-100 pv-70 flex-middle-center">
      <div class="container ph-70-sm text-white text-center normalize-text">
        <h3 class="lead h1 pv-42">Cronograma</h3>
        <div class="bg-blue-darker-op p-21 light gbo">
          {embed="beca/cronograma-de-beca"}
        </div>
      </div>
    </div>
    {embed="includes/transforma-tu-vida"}
  {/exp:channel:entries}

{embed="includes/footer"}