.hero-text-shadow {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

img.border-images-big {
	border: 2px solid #fff;
	border-radius: 50%;
	width: 210px;
	height: auto;
}

a.btn-home {
	font-size: 28px !important;
	padding: 21px 0 !important;
	width: 300px;
	@extend .light;
}

p.texto-home {
	font-size: 28px;
	padding: 0 98px;
}

.dark-gradient {
	@include linear-gradient(-70deg, #003D3A, #001F52);
	 // background-image:
  //   linear-gradient(#075767, #178193);
}

p.texto-sobre-cuadrados-home {
	font-size: 28px;
	@extend .light;
	padding-top: 77px;
	padding-bottom: 56px;
}

@mixin video-box($video) {
  background-image: url('$video');;
}

img.flipped {
	 -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}