.contenedor-categoria {
	position: relative;
}

.descripcion-categoria {
	position: absolute;
	background: $blue-darker;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
}

div.papa-contenedor:hover .descripcion-categoria {
	visibility: visible;
}


.plain-section {
	background: $blue-lighter;
}


.plain-section-light {
	background: #CDF3F8;
}

.cronograma .clearfix div {
	min-height: 70px;
}

div.cronograma {
	padding: 14px 56px;
}

.blog-contenido {
	h1 {
		padding-bottom:14px;
	}
	h2 {
		padding-bottom:14px;
	}	
	h3 {
		padding-bottom:14px;
	}	
	h4 {
		padding-bottom:7px;
	}	
	h5 {
		padding-bottom:7px;
	}	
	p {
		padding-bottom: 14px;
		color: $gray-dark; 
	}
	blockquote {
		margin-top:35px;
		padding: 14px;
		font-size: 18px;
		color: $gray-light;
	}
}