{embed="includes/head"}
	
	{if logged_in} 
  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56-sm pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>Postulación</h1>
            <h3 class="light step-wizard-instructions">Postula en <span class="h1">2</span> simples pasos</h3>
          </div>
          <div id="progress-wizard">
						{embed="postula/step-counters"}
            <div class="step-panels">
              <div id="step-panel-1" class="step-panel step-panel-form active text-white bg-blue-darker p-14">
                <div class="custom-frame minh-630 pbp-14">
								{exp:freeform:composer
								    form_name="postulacion"
								    composer_template_name="postulacion"
								    return="postula/gracias"
								}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {/if}
<style>
	.warning{
		color:red;
	}
</style>
{embed="includes/footer"}
<script>
  $(document).ready(function(){
		$("#freeform_categoria_de_postulacion_1").change(function(){
		    $('#educacion').show();
		    $('#educacion1').show();
		    $('#freeform_nombre_de_la_institucion').show();
		    $('#freeform_nombre_de_carrera').show();
		    $('#freeform_direccion_institucion').show();
		    $('#freeform_duracion_en_meses').show();
		    $('#freeform_ciudad_institucion').show();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').show();
		    $('#freeform_region_insitucion').show();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').show();
		    $('#freeform_telefono_insitucion').show();
		    $('#freeform_ponderado_final_nota_en_numeros').show();
		    $('#freeform_email_institucion').show();
		    $('#freeform_nivel_academico_alcanzado').show();
		    $('label[for="freeform_nombre_de_la_institucion"]').show();
		    $('label[for="freeform_direccion_institucion"]').show();
		    $('label[for="freeform_ciudad_institucion"]').show();
		    $('label[for="freeform_region_insitucion"]').show();
		    $('label[for="freeform_telefono_insitucion"]').show();
		    $('label[for="freeform_email_institucion"]').show();
		    $('label[for="freeform_nombre_de_carrera"]').show();
		    $('label[for="freeform_duracion_en_meses"]').show();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').show();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').show();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').show();
		    $('label[for="freeform_nivel_academico_alcanzado"]').show();		
		});
		$("#freeform_categoria_de_postulacion_2").change(function(){ 
		    $('#educacion').show();
		    $('#educacion1').show();
		    $('#freeform_nombre_de_la_institucion').show();
		    $('#freeform_nombre_de_carrera').show();
		    $('#freeform_direccion_institucion').show();
		    $('#freeform_duracion_en_meses').show();
		    $('#freeform_ciudad_institucion').show();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').show();
		    $('#freeform_region_insitucion').show();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').show();
		    $('#freeform_telefono_insitucion').show();
		    $('#freeform_ponderado_final_nota_en_numeros').show();
		    $('#freeform_email_institucion').show();
		    $('#freeform_nivel_academico_alcanzado').show();
		    $('label[for="freeform_nombre_de_la_institucion"]').show();
		    $('label[for="freeform_direccion_institucion"]').show();
		    $('label[for="freeform_ciudad_institucion"]').show();
		    $('label[for="freeform_region_insitucion"]').show();
		    $('label[for="freeform_telefono_insitucion"]').show();
		    $('label[for="freeform_email_institucion"]').show();
		    $('label[for="freeform_nombre_de_carrera"]').show();
		    $('label[for="freeform_duracion_en_meses"]').show();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').show();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').show();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').show();
		    $('label[for="freeform_nivel_academico_alcanzado"]').show();		
		});										 
		$("#freeform_categoria_de_postulacion_3").change(function(){
		    $('#educacion').show();
		    $('#educacion1').show();
		    $('#freeform_nombre_de_la_institucion').show();
		    $('#freeform_nombre_de_carrera').show();
		    $('#freeform_direccion_institucion').show();
		    $('#freeform_duracion_en_meses').show();
		    $('#freeform_ciudad_institucion').show();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').show();
		    $('#freeform_region_insitucion').show();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').show();
		    $('#freeform_telefono_insitucion').show();
		    $('#freeform_ponderado_final_nota_en_numeros').show();
		    $('#freeform_email_institucion').show();
		    $('#freeform_nivel_academico_alcanzado').show();
		    $('label[for="freeform_nombre_de_la_institucion"]').show();
		    $('label[for="freeform_direccion_institucion"]').show();
		    $('label[for="freeform_ciudad_institucion"]').show();
		    $('label[for="freeform_region_insitucion"]').show();
		    $('label[for="freeform_telefono_insitucion"]').show();
		    $('label[for="freeform_email_institucion"]').show();
		    $('label[for="freeform_nombre_de_carrera"]').show();
		    $('label[for="freeform_duracion_en_meses"]').show();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').show();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').show();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').show();
		    $('label[for="freeform_nivel_academico_alcanzado"]').show();		
		});
		$("#freeform_categoria_de_postulacion_4").change(function(){
		    $('#educacion').show();
		    $('#educacion1').show();
		    $('#freeform_nombre_de_la_institucion').show();
		    $('#freeform_nombre_de_carrera').show();
		    $('#freeform_direccion_institucion').show();
		    $('#freeform_duracion_en_meses').show();
		    $('#freeform_ciudad_institucion').show();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').show();
		    $('#freeform_region_insitucion').show();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').show();
		    $('#freeform_telefono_insitucion').show();
		    $('#freeform_ponderado_final_nota_en_numeros').show();
		    $('#freeform_email_institucion').show();
		    $('#freeform_nivel_academico_alcanzado').show();
		    $('label[for="freeform_nombre_de_la_institucion"]').show();
		    $('label[for="freeform_direccion_institucion"]').show();
		    $('label[for="freeform_ciudad_institucion"]').show();
		    $('label[for="freeform_region_insitucion"]').show();
		    $('label[for="freeform_telefono_insitucion"]').show();
		    $('label[for="freeform_email_institucion"]').show();
		    $('label[for="freeform_nombre_de_carrera"]').show();
		    $('label[for="freeform_duracion_en_meses"]').show();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').show();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').show();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').show();
		    $('label[for="freeform_nivel_academico_alcanzado"]').show();											    
		});		
		$("#freeform_categoria_de_postulacion_5").change(function(){
		    $('#educacion').show();
		    $('#educacion1').show();
		    $('#freeform_nombre_de_la_institucion').show();
		    $('#freeform_nombre_de_carrera').show();
		    $('#freeform_direccion_institucion').show();
		    $('#freeform_duracion_en_meses').show();
		    $('#freeform_ciudad_institucion').show();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').show();
		    $('#freeform_region_insitucion').show();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').show();
		    $('#freeform_telefono_insitucion').show();
		    $('#freeform_ponderado_final_nota_en_numeros').show();
		    $('#freeform_email_institucion').show();
		    $('#freeform_nivel_academico_alcanzado').show();
		    $('label[for="freeform_nombre_de_la_institucion"]').show();
		    $('label[for="freeform_direccion_institucion"]').show();
		    $('label[for="freeform_ciudad_institucion"]').show();
		    $('label[for="freeform_region_insitucion"]').show();
		    $('label[for="freeform_telefono_insitucion"]').show();
		    $('label[for="freeform_email_institucion"]').show();
		    $('label[for="freeform_nombre_de_carrera"]').show();
		    $('label[for="freeform_duracion_en_meses"]').show();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').show();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').show();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').show();
		    $('label[for="freeform_nivel_academico_alcanzado"]').show();										    
		});																		
		$("#freeform_categoria_de_postulacion_6").change(function(){
		    $('#educacion').hide();
		    $('#educacion1').hide();
		    $('#freeform_nombre_de_la_institucion').hide();
		    $('#freeform_nombre_de_carrera').hide();
		    $('#freeform_direccion_institucion').hide();
		    $('#freeform_duracion_en_meses').hide();
		    $('#freeform_ciudad_institucion').hide();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').hide();
		    $('#freeform_region_insitucion').hide();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').hide();
		    $('#freeform_telefono_insitucion').hide();
		    $('#freeform_ponderado_final_nota_en_numeros').hide();
		    $('#freeform_email_institucion').hide();
		    $('#freeform_nivel_academico_alcanzado').hide();
		    $('label[for="freeform_nombre_de_la_institucion"]').hide();
		    $('label[for="freeform_direccion_institucion"]').hide();
		    $('label[for="freeform_ciudad_institucion"]').hide();
		    $('label[for="freeform_region_insitucion"]').hide();
		    $('label[for="freeform_telefono_insitucion"]').hide();
		    $('label[for="freeform_email_institucion"]').hide();
		    $('label[for="freeform_nombre_de_carrera"]').hide();
		    $('label[for="freeform_duracion_en_meses"]').hide();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').hide();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').hide();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').hide();
		    $('label[for="freeform_nivel_academico_alcanzado"]').hide();									    
		});	      
		$("#freeform_categoria_de_postulacion_7").change(function(){
		    $('#educacion').show();
		    $('#educacion1').show();
		    $('#freeform_nombre_de_la_institucion').show();
		    $('#freeform_nombre_de_carrera').show();
		    $('#freeform_direccion_institucion').show();
		    $('#freeform_duracion_en_meses').show();
		    $('#freeform_ciudad_institucion').show();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').show();
		    $('#freeform_region_insitucion').show();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').show();
		    $('#freeform_telefono_insitucion').show();
		    $('#freeform_ponderado_final_nota_en_numeros').show();
		    $('#freeform_email_institucion').show();
		    $('#freeform_nivel_academico_alcanzado').show();
		    $('label[for="freeform_nombre_de_la_institucion"]').show();
		    $('label[for="freeform_direccion_institucion"]').show();
		    $('label[for="freeform_ciudad_institucion"]').show();
		    $('label[for="freeform_region_insitucion"]').show();
		    $('label[for="freeform_telefono_insitucion"]').show();
		    $('label[for="freeform_email_institucion"]').show();
		    $('label[for="freeform_nombre_de_carrera"]').show();
		    $('label[for="freeform_duracion_en_meses"]').show();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').show();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').show();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').show();
		    $('label[for="freeform_nivel_academico_alcanzado"]').show();									    
		});											
		$("#freeform_categoria_de_postulacion_8").change(function(){
		    $('#educacion').hide();
		    $('#educacion1').hide();
		    $('#freeform_nombre_de_la_institucion').hide();
		    $('#freeform_nombre_de_carrera').hide();
		    $('#freeform_direccion_institucion').hide();
		    $('#freeform_duracion_en_meses').hide();
		    $('#freeform_ciudad_institucion').hide();
		    $('#freeform_fecha_de_inicio_dd-mm-yyyy').hide();
		    $('#freeform_region_insitucion').hide();
		    $('#freeform_fecha_de_termino_dd-mm-yyyy').hide();
		    $('#freeform_telefono_insitucion').hide();
		    $('#freeform_ponderado_final_nota_en_numeros').hide();
		    $('#freeform_email_institucion').hide();
		    $('#freeform_nivel_academico_alcanzado').hide();
		    $('label[for="freeform_nombre_de_la_institucion"]').hide();
		    $('label[for="freeform_direccion_institucion"]').hide();
		    $('label[for="freeform_ciudad_institucion"]').hide();
		    $('label[for="freeform_region_insitucion"]').hide();
		    $('label[for="freeform_telefono_insitucion"]').hide();
		    $('label[for="freeform_email_institucion"]').hide();
		    $('label[for="freeform_nombre_de_carrera"]').hide();
		    $('label[for="freeform_duracion_en_meses"]').hide();
		    $('label[for="freeform_fecha_de_inicio_dd-mm-yyyy"]').hide();
		    $('label[for="freeform_fecha_de_termino_dd-mm-yyyy"]').hide();
		    $('label[for="freeform_ponderado_final_nota_en_numeros"]').hide();
		    $('label[for="freeform_nivel_academico_alcanzado"]').hide();
		});	      									          
    $('#freeform_logros').attr('maxlength', '100').parent().addClass('textarea-wrapper');
    $('#freeform_logros_exp').attr('maxlength', '100').parent().addClass('textarea-wrapper');                 
    $('#freeform_que_otra_beca_pasantia_has_ganado_y_en_que_ano').attr('maxlength', '100').parent().addClass('textarea-wrapper');
    $('#freeform_en_que_pais_te_gustaria_realizar_tu_pasantia_puedes_nombrar_3_paises_por_orden_de_preferencia').attr('maxlength', '100').parent().addClass('textarea-wrapper');
    $('#freeform_en_que_restaurante_establecimiento_te_gustaria_realizar_tu_pasantia_puedes_nombrar_3_lugares_por_orden_de_preferencia').attr('maxlength', '100').parent().addClass('textarea-wrapper');

  });
</script>
<script>
	$(document).ready(function(){
		$("input[id=freeform_he_terminado_y_quiero_enviar_mi_aplicacion]").click(function(){
	    if($(this).is(':checked')) {
       addRequired();  
       $('input[value="Guardar"]').val('Enviar');
   		} else {
        removeRequired();  
        $('input[value="Enviar"]').val('Guardar');
   		}  
	  });
	});
</script> 