{embed="includes/head"}
	{if logged_in} 
  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56-sm pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>POSTULACIÓN ENVIADA</h1>
            <h3>Tu información fue enviada correctamente para el proceso de evaluación. Te recordamos que ya no puedes editar tu información, cualquier necesidad por favor escribirnos al correoinfo@juntosparatransformarperu.com ¡Mucha suerte!</h3>
	          <a href="{site_url}" class="text-blue-lighter">Regresa al inicio →</a>
          </div>
        </div>
      </div>
  {/if}
{embed="includes/footer"}