{embed="includes/head"}
	
	{if logged_in} 
  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56 pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>Postulación</h1>
            <h3>Tu información fue guardada correctamente en nuestra base de datos!</h3>
	          <p>Recuerda que puedes editar tu aplicación hasta el 05 de abril.<br><a href="{site_url}" class="text-blue-lighter">Regresa al inicio →</a></p>
          </div>
        </div>
      </div>
  {/if}

{embed="includes/footer"}