{embed="includes/head"}

	{if logged_in}
		{redirect='postula/formulario/page1'}	 
	{/if}

	{if logged_out} 
  {exp:channel:entries channel="postula"}
  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56 pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>Postulación</h1>
            <h3 class="light step-wizard-instructions">Postula en <span class="h1">3</span> simples pasos</h3>
          </div>
          <div id="progress-wizard">
            <!-- Step Counters -->
						{embed="postula/step-counters"}
            <!-- Step panels -->
            <div class="step-panels">
              <div id="step-panel-1" class="step-panel active bg-blue-darker p-14">
                <div class="custom-frame minh-630 pbp-14">
                  <div class="text-center lead-ch p-ch-white">
                    <h1 class="text-blue-light pv-42">Bases de postulación</h1>
                    <p>Lo primero que debes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nulla nemo labore et quod nesciunt excepturi quasi perspiciatis at molestias assumenda reiciendis minima, quis possimus enim explicabo eligendi iure cupiditate.</p>
                  </div>
                  <div class="pv-21 lead-ch h3-ch-blue-lighter p-ch-white">
                    <h3>Lorem ipsum dolor</h3>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga porro nemo explicabo eius optio asperiores, perferendis aliquam, sunt, maxime, quisquam quas at! Odio, laudantium nemo ullam inventore ipsum modi.</p>
                    <h3>Lorem ipsum dolor</h3>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga porro nemo explicabo eius optio asperiores, perferendis aliquam, sunt, maxime, quisquam quas at! Odio, laudantium nemo ullam inventore ipsum modi.</p>
                    <h3>Lorem ipsum dolor</h3>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga porro nemo explicabo eius optio asperiores, perferendis aliquam, sunt, maxime, quisquam quas at! Odio, laudantium nemo ullam inventore ipsum modi.</p>
                    <h3>Lorem ipsum dolor</h3>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga porro nemo explicabo eius optio asperiores, perferendis aliquam, sunt, maxime, quisquam quas at! Odio, laudantium nemo ullam inventore ipsum modi.</p>
                  </div>
                  <div class="lead-ch p-ch-white">
                    <p class="lead">Para postular es necesario que leas este Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit earum debitis repellendus perferendis quidem rerum labore molestiae dicta illo, voluptates dolores aperiam vitae amet exercitationem ipsam blanditiis magnam hic nemo.</p>
                    <a href="#" class="text-blue-lighter">Leer condiciones aquí</a>
                    <form action="" class="pv-21">
                      <div class="form-group">
                        <label for="" class="text-white">
                          <input type="checkbox"> Acepto los términos y condiciones
                        </label>
                      </div>
                      <div class="form-group">
                        <a href="#" class="icon-pdf text-gray-lighter">Descargar bases de postulación</a>
                      </div>
                    </form>
                  </div>
                  <div class="step-actions text-center">
                    <button class="next btn btn-xxl btn-outline btn-gray-lighter">Continuar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {/exp:channel:entries}
  {/if}

{embed="includes/footer"}