{embed="includes/head"}

  {exp:channel:entries channel="postula"}

  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56 pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>Postulación</h1>
            <h3 class="light step-wizard-instructions">Postula en <span class="h1">3</span> simples pasos</h3>
          </div>
          <div id="progress-wizard">
            <!-- Step Counters -->
						{embed="postula/step-counters"}
            <!-- Step panels -->
            <div class="step-panels">
              <div id="step-panel-1" class="step-panel active bg-blue-darker p-14">
                <form action="" class="form-terms-and-conditions">
                  <div class="custom-frame minh-630 pbp-14">
                    <div class="text-center lead-ch p-ch-white">
                      <h1 class="text-blue-light pv-42">Bases de postulación</h1>
                      <p>{intro_bases_de_postulacion}</p>
                    </div>
                    <div class="lead-ch p-ch-white">
                      <div class="form-group text-center pv-21">
                        <a href="#" class="btn btn-outline btn-xl btn-gray-lighter icon-pdf text-gray-lighter">Descargar bases de postulación</a>
                      </div>
                      <p>Acepta los <a href="#" class="text-blue-lighter">términos y condiciones</a>:</p>
                      <div class="form-group pv-21">
                        <label for="accept-terms" class="text-white">
                          <input type="checkbox" name="accept-terms" id="accept-terms"> Acepto los términos y condiciones
                        </label>
                      </div>
                    </div>
                    <div class="step-actions text-right">
                      <button type="submit" class="next btn btn-xl btn-outline btn-gray-lighter">Continuar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  {/exp:channel:entries}

{embed="includes/footer"}