{embed="includes/head"}

  {exp:channel:entries channel="postula"}

  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56-sm pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>Postulación</h1>
            <h3 class="light step-wizard-instructions">Postula en <span class="h1">3</span> simples pasos</h3>
          </div>
          <div id="progress-wizard">
            {embed="postula/step-counters"}
            <div class="step-panels">
              <div id="step-panel-3" class="step-panel active bg-blue-darker p-14">
                <form action="" class="form-custom">
                  <div class="text-white custom-frame minh-630">
                    <div class="text-center">
                      <h1><em>Completa el formulario</em></h1>
                    </div>
                    <div class="ph-70-sm pv-42-sm pv-21-xs">
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="Nombre" class="sr-only">Nombre</label>
                            <input type="text" class="form-control input-xl" placeholder="Nombre">
                          </div>
                          <div class="col-sm-6">
                            <label for="Apellido" class="sr-only">Apellido</label>
                            <input type="text" class="form-control input-xl" placeholder="Apellido">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="DNI" class="sr-only">DNI</label>
                            <input type="text" class="form-control input-xl" placeholder="DNI">
                          </div>
                          <div class="col-sm-6">
                            <label for="Teléfono fijo" class="sr-only">Teléfono fijo</label>
                            <input type="text" class="form-control input-xl" placeholder="Teléfono fijo">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="Celular" class="sr-only">Celular</label>
                            <input type="text" class="form-control input-xl" placeholder="Celular">
                          </div>
                          <div class="col-sm-6">
                            <label for="Email" class="sr-only">Email</label>
                            <input type="text" class="form-control input-xl" placeholder="Email">
                          </div>
                        </div>
                    </div>
                    <div class="step-actions text-center">
                      <button type="submit" class="finish btn btn-xl btn-outline btn-gray-lighter">Finalizar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  {/exp:channel:entries}

{embed="includes/footer"}