{embed="includes/head"}

  {exp:channel:entries channel="postula"}

  <div class="site-content">
		{embed="includes/header"}
      <div class="bg-blue-light minhp-100">
        <div class="container ph-56 pv-70">
          <div class="text-center text-white pv-42 lead-ch">
            <h1>Postulación</h1>
            <h3 class="light step-wizard-instructions">Postula en <span class="h1">3</span> simples pasos</h3>
          </div>
          <div id="progress-wizard">
            <!-- Step Counters -->
            {embed="postula/step-counters"}
            <!-- Step panels -->
            <div class="step-panels">
              <div id="step-panel-2" class="step-panel active bg-blue-darker p-14">
                <form action="" class="form-custom">
                  <div class="text-white custom-frame minh-630">
                    <div class="text-center">
                      <h1><em>Crea tu cuenta</em></h1>
                    </div>
                    <div class="ph-70-sm pv-42-sm pv-21-xs">
                        <div class="form-group">
                          <label for="Usuario" class="sr-only">Usuario</label>
                          <input type="text" class="form-control input-xl" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                          <label for="Contraseña" class="sr-only">Contraseña</label>
                          <input type="password" class="form-control input-xl" placeholder="Contraseña">
                        </div>
                         <div class="form-group">
                          <label for="Confirma contraseña" class="sr-only">Confirma contraseña</label>
                          <input type="password" class="form-control input-xl" placeholder="Confirma contraseña">
                        </div>
                    </div>
                    <div class="step-actions text-center">
                      <button class="next btn btn-xl btn-outline btn-gray-lighter">Continuar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  {/exp:channel:entries}

{embed="includes/footer"}